#footer
    .left-content
        a.button#prev-icon
    .center-content
        button.button#play-icon
        button.button#restart-icon
        button.button#autoplay-icon
    .right-content
        a.button#next-icon