
#menu.nav
    .inner
        a(href='#title') Title Page
        a(href='#about') About This Document
        a(href='#treatment') Treatment Algorithm
        div SL Targeting Guide Surgical Technique
        a(href='#slic-presurgical') +. Preparation
        a(href='#slic-targeting-1') 1. Prep Pack
        a(href='#slic-targeting-2') 2. Reduction and Placement of the SL Targeting Guide
        a(href='#slic-targeting-3') 3. Assemble SL Targeting Guide
        a(href='#slic-targeting-4') 4. Place SL Targeting Guide on Wrist
        a(href='#slic-targeting-5') 5. DISI Correction
        a(href='#slic-targeting-6') 6. Placing the Guide Wire Across the Scaphoid and Lunate
        a(href='#slic-targeting-7') 7. Lateral View Alignment
        a(href='#slic-targeting-8') 8. PA View Alignment
        a(href='#slic-targeting-9') 9. Final Confirmation
        div SLIC Screw Surgical Technique
        a(href='#slic-technique-1') 1. Prep Pack
        a(href='#slic-technique-2') 2. Reduction
        a(href='#slic-technique-3') 3. Preparation and Guide Wire Introduction
        a(href='#slic-technique-4') 4. Confirmation of Guide Wire Position
        a(href='#slic-technique-5') 5. Drill the Scaphoid and Lunate
        a(href='#slic-technique-6') 6. Load SLIC Screw Device Onto Driver
        a(href='#slic-technique-7') 7. Insert the SLIC Screw Device
        a(href='#slic-technique-8') 8. Final Confirmation
        a(href='#ordering')  Ordering Information