<div id="menu" class="nav">
    <div class="inner">
        <a href="../www/index.html">Return to Library</a>
        <a href="#title">Introducing The System</a>

        <div>Standard and Posterior Plates</div>
        <a href="#polarus-plates-1">1. Preoperative Planning</a>
        <a href="#polarus-plates-2">2. Patient Positioning</a>
        <a href="#polarus-plates-3">3. Approach and Incision</a>
        <a href="#polarus-plates-4">4. Bone Reduction</a>
        <a href="#polarus-plates-5">5. Plate Selection</a>
        <a href="#polarus-plates-6">6. Plate Placement and Reduction</a>
        <a href="#polarus-plates-7">7. Screw Insertion&#8212;Shaft</a>
        <a href="#polarus-plates-8">8. Screw Preparation&#8212;Humeral Head</a>
        <a href="#polarus-plates-9">9. Additional Shaft Screw Insertion</a>
        <a href="#polarus-plates-10">10. Sutures</a>
        <a href="#polarus-plates-11">11. Soft-Tissue Closure</a>
        <a href="#polarus-plates-12">12. Post-Op Protocol</a>
        <div>Proximal Nail Technique</div>
        <a href="#proximalNails-1">1. Preoperative Planning</a>
        <a href="#proximalNails-2">2. Patient Positioning and Surgical Exposure</a>
        <a href="#proximalNails-3">3. Fracture Reduction</a>
        <a href="#proximalNails-4">4. Guide Wire Insertion</a>
        <a href="#proximalNails-5">5. Canal Preparation</a>
        <a href="#proximalNails-6">6. Assemble the Targeting Guide</a>
        <a href="#proximalNails-7">7. Implant Insertion</a>
        <a href="#proximalNails-8">8. Proximal Screw Placement</a>
        <a href="#proximalNails-9">9. Target Distal Screws</a>
        <a href="#proximalNails-10">10. Insert Distal Screws</a>
        <a href="#proximalNails-11">11. Insert Cap Screw</a>
        <a href="#proximalNails-12">12. Repair Rotator Cuff</a>
        <a href="#proximalNails-13">9. Post&dash;Op Protocol</a>
        <div>Distal Nail Technique</div>
        <a href="#distalNails-1">1. Preoperative Planning</a>
        <a href="#distalNails-2">2. Patient Positioning &amp; Surgical Exposure</a>
        <a href="#distalNails-3">3. Guide Wire Insertion</a>
        <a href="#distalNails-4">4. Canal Preparation</a>
        <a href="#distalNails-5">5. Assemble the Targeting Guide</a>
        <a href="#distalNails-6">6. Implant Insertion</a>
        <a href="#distalNails-7">7. Freehand Targeting of the Distal Screws</a>
        <a href="#distalNails-8">8. Insert Distal Screws</a>
        <a href="#distalNails-9">9. Insert Cap Screw</a>
        <a href="#distalNails-10">10. Repair Rotator Cuff</a>
        <a href="#distalNails-11">11. Post&dash;Op Protocol</a>
    </div>
</div>