<div id="menu" class="nav">
    <div class="inner">
        <a href="../www/index.html">Return to Library</a>
        <a href="#title">Title Page</a>
        <a href="#about">About This Document</a>
        <a href="#treatment">Treatment Algorithm</a>

        <div>SL Targeting Guide Surgical Technique</div>
        <a href="#slic-presurgical">+. Preparation</a>
        <a href="#slic-targeting-1">1. Prep Pack</a>
        <a href="#slic-targeting-2">2. Reduction and Placement of the SL Targeting Guide</a>
        <a href="#slic-targeting-3">3. Assemble SL Targeting Guide</a>
        <a href="#slic-targeting-4">4. Place SL Targeting Guide on Wrist</a>
        <a href="#slic-targeting-5">5. DISI Correction</a>
        <a href="#slic-targeting-6">6. Placing the Guide Wire Across the Scaphoid and Lunate</a>
        <a href="#slic-targeting-7">7. Lateral View Alignment</a>
        <a href="#slic-targeting-8">8. PA View Alignment</a>
        <a href="#slic-targeting-9">9. Final Confirmation</a>

        <div>SLIC Screw Surgical Technique</div>
        <a href="#slic-technique-1">1. Prep Pack</a>
        <a href="#slic-technique-2">2. Reduction</a>
        <a href="#slic-technique-3">3. Preparation and Guide Wire Introduction</a>
        <a href="#slic-technique-4">4. Confirmation of Guide Wire Position</a>
        <a href="#slic-technique-5">5. Drill the Scaphoid and Lunate</a>
        <a href="#slic-technique-6">6. Load SLIC Screw Device Onto Driver</a>
        <a href="#slic-technique-7">7. Insert the SLIC Screw Device</a>
        <a href="#slic-technique-8">8. Final Confirmation</a>
        <a href="#ordering"> Ordering Information</a>
    </div>
</div>