//extends layout
//block content


#title(data-role="page")
    section
        figure
            img(src='assets/images/SSTitle_Img1.jpg')
        article
            h1 SLIC Screw System
            //p The Acumed Scapholunate Intercarpal Screw (SLIC Screw) System has a cannulated cylinder-in-cylinder design for adjunct fixation of acute scapholunate instability, innovative instrumentation, and a specialized targeting guide designed to be used in correspondence with K-wires for anatomical reduction of the scaphoid and lunate carpals while allowing simplified targeting of the central third of the scaphoid and lunate in the lateral view.
            p(class="Basic-Paragraph bottom-margin")
                span.body-copy
                    | The Acumed Scapholunate Intercarpal Screw (SLIC Screw) System has a cannulated cylinder-in-cylinder design for adjunct fixation of acute scapholunate instability, innovative instrumentation, and a specialized targeting guide designed to be used in correspondence with K-wires for anatomical reduction of the scaphoid and lunate carpals while allowing simplified targeting of the central third of the scaphoid and lunate in the lateral view.
            p(style="font-size: 1.1em; text-align: center; margin: 0 auto;")
                a(href="http://go.acumed.net/slic-4") www.acumed.net
    aside
        blockquote
            | Acumed&reg; is a global leader of innovative orthopaedic and medical solutions.
            br
            br
            | We are dedicated to developing products, service methods, and approaches that improve patient care.
        img(src='assets/images/SSTitle_Img2.jpg')
        ul
            li
                h1 SLIC Screw Design Surgeon
                h2 William B. Geissler, M.D.
                br
            li
                h1
                    | SL Targeting Guide
                    | Design Surgeon
                h2 Michael G. McNamara, M.D.
        //nav
        //    h1 Contents
        //    a(href='#about') About This Document
        //    a(href='#treatment') Treatment Algorithm
        //    a(href='#slic-targeting-1') SL Targeting Guide Surgical Technique
        //    a(href='#technique') SLIC Screw Surgical Technique
        //    a(href='#ordering') Ordering Information
