* {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #000;
  font-family: 'Proxima Nova', 'proxima nova (tt)', sans-serif;
  font-size: 100%;
  font-weight: normal;
/*line-height 1rem*/
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  overflow: hidden;
  hyphens: none;
  -moz-hyphens: none;
  -ms-hypens: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
ul,
menu,
dir {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
:focus {
  outline: none;
}
