
*
  background none repeat scroll 0 0 transparent
  border medium none
  border-spacing 0
  color black
  font-family 'Proxima Nova', 'proxima nova (tt)', sans-serif
  font-size 100%
  font-weight normal
  /*line-height 1rem*/
  list-style none outside none
  margin 0
  padding 0
  text-align left
  text-decoration none
  text-indent 0
  overflow hidden
  hyphens none
  -moz-hyphens none

html, body
  /*overflow-y scroll*/

button::-moz-focus-inner,
input::-moz-focus-inner
  border 0
  padding 0

ul, menu, dir
  display block
  list-style-type none
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-margin-start 0
  -webkit-margin-end 0
  -webkit-padding-start 0

:focus
  outline none